<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form" action="/login" method="post">
            <input type="text" name="username" placeholder="Nome de usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>
        <p>{{ message }}</p>
    </div>
    <script src="{{url_for('static', filename='script.js') }}"></script>
</body>
</html>
